<h2> Inventory</h2>
<%=link_to 'Back', user_inventories_path(current_user) %>
<div class="inventory-detials">
   <h3 class="in-title"><%= @inventory.name %></h3>
   <h3  class ="in-btn"><%= link_to 'Add Food', new_food_path %></h3>
   <div class ="food-basket">
     <h4>Food basket here</h4>
   </div>
</div>