/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Inventories */

.inventory-container {
  width: 80%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.inventory-container .list-items {
  display: flex;
  width: 70%;
  flex-direction: column;
  list-style-type: none;
  padding: 5px;
}

.inventory-container .list-items .list-item {
  display: flex;
  justify-content: space-around;
}

.inventory-container .list-side {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inventory-detials {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.inventory-detials .in-title {
  align-self: center;
}

.inventory-detials .in-btn {
  align-self: flex-end;
}

.lnlist-form {
  display: flex;
  justify-content: space-evenly;
}
